
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task app</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="accent">Login</button> 
  <button mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-slide-toggle [formControl]="toggleTheme">
    <mat-icon color="accent">
     brightness_2
    </mat-icon>
   </mat-slide-toggle>
</mat-toolbar>